:root{
    --teal: #2ecf2e;
    --teal_hover: #279e8c;
}


*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

.carousel-item img{
    width: 100;
    height: 95vh;
}
.custom-bg{
    background-color: var(--teal);
}
.custom-bg:hover{ 
    background-color: var(--teal_hover);
}

.availability-form{
    margin-top: -50px;
    z-index: 2;
    position: relative;
}
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}